canvas{
    animation-name: Akash;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}
@keyframes Akash{
    from{box-shadow: 1px 1px 38px red;}
   to{box-shadow: 1px 1px 38px rgba(255, 187, 0, 0.616);}
}